body{
    font-family: 'Montserrat', sans-serif;
    background-color: #F5F7FA;
    min-width: 1200px;
    background-image: url("http://wp.widewallpapers.ru/2k/backgrounds/1920x1080/background-wide-wallpaper-1920x1080-031.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #000;
}

.main-conteiner{
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    background-color: #fff;
    margin: 40px auto;
}

/* Main content section  */

.main-content-section{
    padding: 100px 90px;
}
.main-content-title{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #000;
    margin-bottom: 10px;
}

/* About me section */

.about-me-section{
    margin-bottom: 40px;
}

.about-me-profession{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    margin-bottom: 20px;
}

.about-me-name{
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 55px;
    color: #000;
    margin-bottom: 25px;
}

.about-me-description{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-bottom: 40px;
    width: 400px;
    }

/* About projects section */

.my-projects-section{
    margin-bottom: 50px;
}

.main-projectcts-list{
    margin-left:  18px;
}

.my-projects-item{
    color: #000;
    font-weight: bold;
}

.my-projects-link{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.my-projects-text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-left: 5px;
}

.my-projects-brecket{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000;
}

/* My work experience */

.my-work-experience-position{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    margin-bottom: 10px;
}

.my-work-experience-period{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 10px;
}

.my-work-experience-divider{
    color: #000;
}

.my-work-expirience-company{
    color: #FB6D3A;
}

.my-work-experience-duties{
    padding-left: 18px;
}

.my-work-experience-duty{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.my-experience-company3{
    margin-bottom: 10px;
}

/* My Education */

.my-education{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px; 
}

.my-education-University{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A; 
}

.my-specialty{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.my-education-period{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;    
}

.my-education-divider{
    color: #000;
}

/* Sidebar section */
.sidebar-section{
    background-color: #1E2939;
    width: 370px;
    padding: 40px 0;
}

.contacts-section,
.tech-skills-section {
    margin: 50px 0 0 40px;
}

.soft-skills-section{
    margin: 45px 0 0 40px;
}

.sidebar-title{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #fff;
    margin-bottom: 10px;
}

/* Contacts section */
.contacts-section-type{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    margin-right: 10px;
}

.contacts-section-link{
    color: #565E6A;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

.tech-skills-list{
    padding-left: 17px;
}

.tech-skills-item{
    color: #FB6D3A;
}

.tech-skills-item-text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
}

